@page "/"

<h1>NodaTimePicker Demo</h1>

<h2>DatePicker</h2>

<NodaTimePicker.DatePicker Inline="true"></NodaTimePicker.DatePicker>

<hr />

<h2>TimePicker</h2>

<NodaTimePicker.TimePicker Inline="true"></NodaTimePicker.TimePicker>

<hr />

<h2>DateTimePicker</h2>

<NodaTimePicker.DateTimePicker Inline="true"></NodaTimePicker.DateTimePicker>