@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<NodaTimePicker.DatePicker Inline="true" OnSelected="DateSelected"></NodaTimePicker.DatePicker>

@code {
	void DateSelected(NodaTime.LocalDate d)
	{
		// TODO:
	}
}